* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f9fafc;
  padding: 10px;
  height: 100vh;
}

.nav {
  display: flex;
  flex-direction: column;
}

.ul__nav {
  list-style: none;
  padding: 0;
}

.li__nav {
  margin-bottom: 10px;
}

.nav__logo {
  color: #000;
  text-decoration: none;
  font-weight: 700;
}

.active {
  background-color: black;
  padding: 10px 25px;
  color: white;
  border-radius: 25px;
  text-decoration: none;
}

.footer__button {
  display: block;
}

.main__section {
  margin-bottom: 35px;
}

.main__header {
  font-size: 30px;
  margin: 0;
}

.main__text {
  border-left: 1px solid #69696a;
  padding-left: 20px;
  color: #696969;
}

.circles {
  display: none;
}

@media only screen and (min-width: 768px) {
  .nav {
    display: flex;
    align-items: center;
    margin-bottom: 150px;
    justify-content: space-between;
  }
  
  .nav__logo {
    color: #000;
    text-decoration: none;
  }
  
  .ul__nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .li__nav {
    display: inline-block;
    margin-right: 10px;
    padding: 10px 25px;
    margin-bottom: 0;
  }
  
  .li__nav:hover {
    background-color: black;
    padding: 10px 25px;
    color: white;
    border-radius: 25px;
    cursor: pointer;
  }

  .main__section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px 20px 150px 20px;
  }

  .left__section {
    width: 50%;
  }

  .circles {
    width: 100%;
    position: relative;
    display: block;
    top: -50px;
    right: -50px;
  }

  .circle1 {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: rgba(247, 136, 167, 0.6);
    border-radius: 250px;
    right: 150px;
    top: -65px;
  }
  
  .circle2 {
    position: absolute;
    width: 150px;
    height: 150px;
    background-color:rgba(247, 193, 162, 0.7);
    border-radius: 250px;
    right: 60px;
    top: -50px;
  }
  
  .circle3 {
    width: 150px;
    height: 150px;
    background-color: rgba(207, 130, 213, 0.6);
    border-radius: 250px;
    position: absolute;
    top: 50px;
    right: 80px;
  }

  .footer {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }

}

@media only screen and (min-width: 1200px) {
  body {
    display: block;
  }
  .nav {
    flex-direction: row;
    margin: 0 20px 100px 20px;
  }

  .left__section {
    width: 100%;
  }

  .circle1 {
    width: 300px;
    height: 300px;
    top: -80px;
    right: 250px;
  }

  .circle2 {
    width: 200px;
    height: 200px;
    top: -60px;
    right: 130px;
  }
  .circle3 {
    width: 150px;
    height: 150px;
    top: 100px;
    right: 178px;
  }
}